@import "tailwindcss";
@font-face {
  font-family: "pricedown";
  src: url("/pricedown.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "helvetica-now-display";
  src: url("/helvetica-now-display.ttf") format("truetype");
  font-display: swap;
}
html,body{
  width: 100%;
  height: 100%;
  background: #000;
  font-family: "pricedown";
}